#cursor {
   position: absolute;
   width: 17px;
   height: 17px;
   background-color: $accent;
   z-index: 10000;
   border-radius: 100%;
   user-select: none;
   pointer-events: none;
   margin: -8.5px 0 0 -8.5px;
   transform: scale(1);
   transition: transform 0.6s cubic-bezier(0.6, -0.46, 0.48, 1.87), background 0.3s ease-in;
   &.active {
      transform: scale(3.5);
      background-color: rgba(#fff, 0.1);
      border: 0.1px solid $accent;
   }
   &.hidden {
      transform: scale(0.001);
   }
   @media (max-width: $md3+px) {
      display: none;
   }
}
