.modal {
   z-index: 9999;
   position: absolute;
   font-family: "Raleway";

   &__overlay {
   }

   &__title {
      color: #fff;
      text-transform: uppercase;
      font-family: "Oswald";
      font-weight: 400;
      display: block;
      width: 100%;
   }
   &__close {
      color: #fff;
      opacity: 0.25;
      transition: opacity 0.25s ease-in;
      &:hover {
         opacity: 1;
      }
   }
   &__container {
      background-color: lighten($deep, 6);
      box-shadow: 0 0 0 8px rgba(#fff, 0.1);
      border-radius: 0;
   }

   &__header {
      text-align: center;
   }
   &__footer {
      text-align: center;
   }
   &__input {
      margin-bottom: 8px;
   }
}
.micromodal-slide {
}

.form-input {
   display: block;
   background-color: $dark;
   border: 1px solid lighten($dark, 7);
   padding: 12px 18px;
   min-width: $minWidth - 40px;
   color: #fff;
   font-size: 15px;
   transition: border 0.3s ease 0s;
   &:focus {
      border: 1px solid lighten($dark, 20);
   }
}

textarea.form-input {
   min-height: 100px;
}
